<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 로그인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminlogin.css}">
</head>
<body>
<div class="main">
    <div class="subMain">
        <div id="successModal" class="modal" th:if="${message}">
            <div class="modal-content">
                <p th:text="${message}"></p>
            </div>
        </div>
        <div id="errorModal" class="modal" th:if="${loginFail}">
            <div class="modal-content">
                <p th:text="${errorMessage}"></p>
            </div>
        </div>
        <form th:action="@{/admin/login}" method="post">
            <!-- CSRF 토큰 제거 -->
            <h1><a th:href="@{/admin/login}">관리자 페이지</a></h1>
            <div>
                <div class="form-id">
                    <div class="form-id-in">
                        <label for="userId"></label>
                        <!-- 유저 아이디 -->
                        <input type="text" id="userId" name="userId" placeholder="아이디" required><br>
                    </div>
                </div>
                <div class="form-pwd">
                    <label for="password"></label>
                    <!-- 유저 비밀번호 -->
                    <input type="password" id="password" name="password" placeholder="비밀번호" required>
                </div>
                <div class="form-cbox">
                    <input type="checkbox" id="check" checked>
                    <label for="check" class="cbox">아이디 저장</label>
                </div>
                <div class="login">
                    <button type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var checkbox = document.getElementById('check');
        var userIdInput = document.getElementById('userId');

        // 페이지 로드 시 localStorage에서 아이디 불러오기
        var savedId = localStorage.getItem('savedUserId');
        if (savedId) {
            userIdInput.value = savedId; // 저장된 아이디를 입력란에 채움
            checkbox.checked = true; // 체크박스 상태를 유지
        }

        // 체크박스 상태 변경 시 아이디 저장/삭제 처리
        checkbox.addEventListener('change', function () {
            if (checkbox.checked) {
                // 체크된 경우, 아이디 저장
                localStorage.setItem('savedUserId', userIdInput.value);
            } else {
                // 체크 해제된 경우, 저장된 아이디 삭제
                localStorage.removeItem('savedUserId');
            }
        });

        // 아이디 입력란이 변경되면 저장된 아이디 업데이트
        userIdInput.addEventListener('input', function () {
            if (checkbox.checked) {
                localStorage.setItem('savedUserId', userIdInput.value);
            }
        });
    });
</script>
</html>
