<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
</head>
<body>
    <h2>비밀번호 찾기</h2>
    <form th:action="@{/forgot-password}" method="post">
     <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <label for="username">아이디:</label>
        <input type="text" id="username" name="username" required><br><br>
        <button type="submit">아이디 찾기</button>
    </form>

    <div th:if="${message}" style="color: green;">
        <p th:text="${message}"></p>
    </div>
    
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
</body>
</html>
