<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 목록</title>
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
<div class="sidebar" th:insert="~{main/sidebar :: sidebar}"></div>
<div class="content">
    <h1>게시판 목록</h1>
    <hr class="hr">    
    <table class="table">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>
        	 <!-- 공지사항 목록 -->
            <tr th:each="post : ${isNoticePosts}">
                <td th:text="'공지'"></td><!-- 고정 -->
                <td>
                    <a th:href="@{/post/detail/{id}(id=${post.pSeq})}" th:text="${post.title}"></a>
                </td>
                <td th:text="${post.userName} + ' (' + ${post.userId} +')'"></td>
                <td th:text="${post.formattedPostdate}"></td>
                <td align="center" th:text="${post.cnt}"></td>
            </tr>
            <tr th:each="post : ${postList}">
                <!-- 번호 부분: 공지글을 먼저 표시한 후 일반 글 번호를 처리 -->
                <td th:text="${post.postNum}"></td>
                <td class="td-title">
                    <a th:href="@{/post/detail/{id}(id=${post.pSeq})}" th:text="${post.title}"></a>
                </td>
                <td th:text="${post.userName} + ' (' + ${post.userId} +')'"></td>
                <td class="td-date" th:text="${post.formattedPostdate}"></td>
                <td align=center th:text="${post.cnt}"></td>
            </tr>
        </tbody>
    </table>
    
	<div class="btn-container-list">
	    <a th:href="@{/post/write}" class="btn btn-primary">Post</a>
		
		<!-- 검색 기능 -->
		<div class="search">
		    <form th:action="@{/post/list}" method="get" class="search-form">
		    	<input type="text" name="keyword" placeholder="검색어 입력" th:value="${keyword != null ? keyword : ''}">
		    	<button type="submit" class="btn btn-primary">Search</button>
			</form>
	    </div>
	</div>
 
    <div class="pagination-container">
        <!-- 페이지네이션 -->
        <nav class="pagination">
    		<!-- 이전 버튼 -->
    		<a th:href="@{/post/list(page=${prevPage}, keyword=${keyword})}" th:if="${prevPage >= 1}" class="page-link">&lt;</a>
		      		
	        <!-- 페이지 번호 -->
	        <div th:each="page : ${pageList}">
		        <a th:href="@{/post/list(page=${page}, keyword=${keyword})}" th:text="${page}" 
		           class="page-link" th:classappend="${pageNum == page} ? ' active ' : ' '"></a>
			    <!-- 페이지 번호 확인
				<p>현재 페이지: <span th:text="${pageNum}"></span></p>
				<p>각 페이지: <span th:text="${page}"></span></p>
		    	-->
		    </div>
		    
		    <!-- 다음 버튼 -->
	        <a th:href="@{/post/list(page=${nextPage}, keyword=${keyword})}" th:if="${nextPage <= totalPages}" class="page-link">&gt;</a>
			
        </nav>
	</div>
</div>
</body>
</html>
