<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 목록</title>
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
<div class="sidebar" th:insert="~{main/sidebar :: sidebar}"></div>
<div class="content">
    <h1>게시판 목록</h1>
    <table class="table">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="post : ${postList}">
                <td th:text="${post.pSeq}"></td>
                <td>
                    <a th:href="@{/detail/{id}(id=${post.pSeq})}" th:text="${post.title}"></a>
                </td>
                <td th:text="${post.user.name}"></td>
                <td th:text="${post.postdate}"></td>
                <td th:text="${post.cnt}"></td>
            </tr>
        </tbody>
    </table>
    
   	<div class="btn-container">
        <a th:href="@{/post/write}" class="btn btn-primary">Post</a>
	</div>
    
    <div class="pagination-container">
        <!-- 페이지네이션 -->
        <nav class="pagination">
            <span th:each="page : ${pageList}" th:classappend="${currentPage == page} ? 'active' : ''">
                <a th:href="@{/list(page=${page})}" th:text="${page}" class="page-link"></a>
            </span>
        </nav>
	</div>

</div>
</body>
</html>
