<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <div>
        <p>Username: {{user.userId}}</p>
        <p>Name: {{user.name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Phone: {{user.phone}}</p>
        <p>Address: {{user.address}}</p>
        <p>Birthday: {{user.birthday}}</p>
        <p>Gender: {{user.gender}}</p>
        <img src="{{user.profileImage}}" alt="Profile Image">
        <a href="/users/profile/profile-edit">Edit Profile</a>
        <a href="/user/change-password">Change Password</a>
    </div>
</body>
</html>
