<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <div>
        <p>Username: {{users.userId}}</p>
        <p>Name: {{users.name}}</p>
        <p>Email: {{users.email}}</p>
        <p>Phone: {{users.phone}}</p>
        <p>Address: {{users.address}}</p>
        <p>Birthday: {{users.birthday}}</p>
        <p>Gender: {{users.gender}}</p>
        <img src="{{user.profileImage}}" alt="Profile Image">
        <a href="/profile-edit">Edit Profile</a>
        <a href="/change-password">Change Password</a>
        
        <form th:action="@{/logout}" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>
