<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <script src="/js/resetPassword.js"></script>
</head>
<body>
    <h2>비밀번호 찾기</h2>
    <form th:action="@{/forgot-password}" method="post">
        <!--input type="hidden" name="_csrf" th:value="${_csrf.token}" /-->
        
        <label for="username">아이디: </label>
        <input type="text" id="username" name="username" th:value="${username}" required><br><br>
        <label for="email">이메일: </label>
        <input type="text" id="email" name="email" th:value="${email}" required><br><br>
        <button type="button" id="sendCodeBtn">인증코드 발송</button>
    </form>
    
</body>
</html>
