<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <script src="/js/verifyCode.js"></script>
</head>
<body>
    <h2>비밀번호 찾기</h2>
    <form th:action="@{/forgot-password}" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        
        <label for="username">아이디: </label>
        <input type="text" id="username" name="username" th:value="${username}" required><br><br>
        <label for="email">이메일: </label>
        <input type="text" id="email" name="email" th:value="${email}" required><br><br>
        <button type="button" id="sendCodeBtn">인증코드 발송</button>
    </form>

    <div th:if="${message}" style="color: green;">
        <p th:text="${message}"></p>
    </div>
    
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
    
    <div th:if="${resetCodeSent}">
        <label for="resetCode"> 인증코드: </label>
        <input type="text" id="resetCode" name="resetCode" required><br><br>
        <span id="countdown">유효시간 3:00</span><br><br>

        <button type="button" id="verifyCodeBtn">확인</button><br><br>
        
        <button type="button" id="resendCodeBtn" style="display: none;" onclick="resendCode()">인증코드 재발송</button>
    </div>
    
</body>
</html>
